################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgeVerification_AboutUs/obj
/AgeVerification_AboutUs/bin/Debug/net472
